.result{
    width: 100%;
    max-width: 55rem;
	padding: 5rem 5rem;

    font-size: 2rem;

	@extend %background-block;

    &__title{
		margin-bottom: 2em;
    }

    &__item{
        display: flex;
        padding: 1.5rem;
        border-bottom: 2px solid #fff;
    }

    &__content{
        width: 50%;
    }

    &__button{
        @extend %button;
		font-size: 1.5rem;
		color: #000;
        font-weight: 600;
		background-color: #ff0;
        margin-top: 2em;
    }
}